# Data Types and Structures

1. What are data structures, and why are they important?
  -> Data structures are organized ways to store and manage data so that it can be accessed and modified efficiently. They are crucial in programming because they enable developers to handle large amounts of data efficiently and make algorithms more effective. Some common data structures include arrays, lists, stacks, queues, trees, and graphs.

2. Explain the difference between mutable and immutable data types with examples.
 -> Mutable data types can be changed after their creation. Examples lists, dictionaries, and sets.

  EX:
  my_list = [1, 2, 3]
  my_list[0] = 10  # List is mutable

  Immutable data types cannot be changed once created. Examples tuples and strings.

  EX:
  my_tuple = (1, 2, 3)
  my_tuple[0] = 10  # This will raise an error because tuple is immutable.

3. What are the main differences between lists and tuples in Python?

  Lists are mutable, whereas tuples are immutable.

  Lists have more built-in methods compared to tuples.

  Tuples are generally faster to iterate through than lists.

4. Describe how dictionaries store data?
 -> Dictionaries store data as key-value pairs. Each key is unique, and it maps to a specific value. This allows for efficient data retrieval based on keys. For example:

  EX:
  my_dict = {'name': 'Priyabrata', 'age': 29}

5. Why might you use a set instead of a list in Python?
 -> Sets are used when you need to store unique elements without duplicates. They also offer faster membership testing compared to lists. For example:

  EX:
  my_set = {1, 2, 3, 4, 5}

6. What is a string in Python, and how is it different from a list?
 -> A string is a sequence of characters. It is immutable, meaning it cannot be changed after creation. Lists, on the other hand, are mutable and can contain elements of different data types.

7. How do tuples ensure data integrity in Python?
  -> Tuples are immutable, meaning once they are created, their elements cannot be changed. This immutability ensures that the data remains consistent and unaltered, providing data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
 -> A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables, allowing for fast data retrieval based on keys.

9. Can lists contain different data types in Python?
  -> Yes, lists in Python can contain elements of different data types.

  EX:
  my_list = [1, 'hello', 3.14]

10. Explain why strings are immutable in Python.
  -> Strings are immutable to ensure that they remain consistent and are thread-safe. This immutability also allows for optimization techniques, such as string interning.

11. What advantages do dictionaries offer over lists for certain tasks?

  -> Dictionaries allow for faster data retrieval based on keys, making them suitable for tasks that require quick lookups. They also provide a way to store data as key-value pairs, which is more intuitive for certain applications.

12. Describe a scenario where using a tuple would be preferable over a list.

  ->Using a tuple is preferable when you need to store a collection of values that should not be changed, such as coordinates (x, y) or RGB color values.

13. How do sets handle duplicate values in Python?
  -> Sets automatically eliminate duplicate values. If you add duplicate elements to a set, only one instance of each element is kept.

14. How does the "in" keyword work differently for lists and dictionaries?

  -> For lists, the "in" keyword checks for the presence of an element.

  EX:
  my_list = [1, 2, 3]
  1 in my_list  # True

  For dictionaries, the "in" keyword checks for the presence of a key.

  EX:
  my_dict = {'name': 'Priyabrata', 'age': 29}
  'name' in my_dict  # True

15. Can you modify the elements of a tuple? Explain why or why not.
  -> No, you cannot modify the elements of a tuple because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
  -> A nested dictionary is a dictionary that contains another dictionary as a value. It is useful for representing hierarchical data.

  EX:
  nested_dict = {
      'person': {
          'name': 'Priyabrata',
          'age': 29
      }
  }
17. Describe the time complexity of accessing elements in a dictionary.
  -> The average time complexity of accessing elements in a dictionary is O(1) due to the hash table implementation.

18. In what situations are lists preferred over dictionaries?
  -> Lists are preferred when the order of elements matters, or when you need to store multiple items without requiring key-based access.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  -> Dictionaries are considered unordered because they do not maintain the order of keys. This means that the order in which items are added is not preserved, which can affect the sequence of data retrieval.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  -> Lists allow for indexed-based retrieval using integer indices.

  EX:
  my_list = [10, 20, 30]
  print(my_list[1])  # 20
  Dictionaries allow for key-based retrieval using unique keys.

  EX:
  my_dict = {'name': 'Priyabrata', 'age': 29}
  print(my_dict['name'])  # Priyabrata

# Practical Questions

In [5]:
# 1. Create a string with your name and print it.
name = "Priyabrata Panda"
print(name)

Priyabrata Panda

In [6]:
# 2. Find the length of the string "Hello World"
string_length = len("Hello World")
print(string_length)

11

In [7]:
# 3. Slice the first 3 characters from the string "Python Programming"
sliced_string = "Python Programming"[:3]
print(sliced_string)

Pyt

In [8]:
# 4. Convert the string "hello" to uppercase
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

In [9]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
replaced_string = "I like apple".replace("apple", "orange")
print(replaced_string)

I like orange

In [10]:
# 6. Create a list with numbers 1 to 5 and print it
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

In [11]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
num_list2 = [1, 2, 3, 4]
num_list2.append(10)
print(num_list2)

[1, 2, 3, 4, 10]

In [12]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
num_list3 = [1, 2, 3, 4, 5]
num_list3.remove(3)
print(num_list3)

[1, 2, 4, 5]

In [13]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

In [14]:
# 10. Reverse the list [10, 20, 30, 40, 50]
num_list4 = [10, 20, 30, 40, 50]
num_list4.reverse()
print(num_list4)

[50, 40, 30, 20, 10]

In [30]:
# 11. Create a tuple with elements 100, 200, 300 and print it
tup1 = (100, 200, 300)
print(tup1)

(100, 200, 300)

In [31]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup2 = ('red', 'green', 'blue', 'yellow')
print(tup2[-2])

blue

In [32]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
tup3 = (10, 20, 5, 15)
print(min(tup3))

5

In [33]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup4 = ('dog', 'cat', 'rabbit')
print(tup4.index("cat"))

1

In [34]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [35]:
# 16. Create a set with elements 'a', 'b', 'c' and print it
set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [36]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [37]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [38]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

In [39]:

# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set6 = {1, 2, 3}
set7 = {2, 3, 4}
print(set6.intersection(set7))

{2, 3}

In [40]:
# 21. Create a dictionary with keys "name", "age", and "city", and print it
dict1 = {"name": "Alice", "age": 30, "city": "New York"}
print(dict1)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [41]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [42]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict3 = {'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

In [43]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4["age"]
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [44]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict5)

True

In [45]:
# 26. Create a list, a tuple, and a dictionary, and print them all
list1 = [1, 2, 3]
tuple1 = (4, 5, 6)
dict6 = {'a': 7, 'b': 8, 'c': 9}
print(list1, tuple1, dict6)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8, 'c': 9}

In [46]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[6, 14, 27, 54, 60]

In [47]:
# 28. Create a list with strings and print the element at the third index
list2 = ["apple", "banana", "cherry", "date", "elderberry"]
print(list2[3])

date

In [48]:
# 29. Combine two dictionaries into one and print the result
dict7 = {"a": 1, "b": 2}
dict8 = {"c": 3, "d": 4}
combined_dict = {**dict7, **dict8}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [49]:
# 30. Convert a list of strings into a set
list3 = ["apple", "banana", "cherry", "banana"]
set_result = set(list3)
print(set_result)

{'apple', 'cherry', 'banana'}